.visibility-filter {
	margin-bottom: 15px;
}

.visibility-filter__option {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	margin-right: 20px;
	cursor: pointer;
	color: #999;
}

.visibility-filter__option-text:hover {
	text-decoration: underline;
}

.visibility-filter__option_active
.visibility-filter__option-text {
	color: #35b6da;
	text-decoration: underline;
}
