.project-item {
	display: flex;
	height: 45px;
	border: 1px solid #e8ebed;
	background: #fff;
	color: #666;
	width: 900px;
	padding-right: 10px;
}

.project-item span {
	text-align: right;
	line-height: 42px;
	padding: 0 5px;
}

.project-item__status{
	width: 2%;
	display: inline-block;
}

.project-item__status:after {
	content: 	'' ;
	position: relative;
	top: 	0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
}

.project-item__status_active:after {
	background: red;
}

.project-item__status_complete:after {
	background: blue;
}

span.project-item__title {
	width: 38%;
	padding-left: 10px;
	text-align: left;
}

.project-item__rate {
	width: 20%;
}

.project-item__time {
	width: 18%;
}

.project-item__sum {
	width: 18%;
}