.project-form {
	border: 1px solid #e8ebed;
	background: #fff;
	width: 900px;
	height: 60px;
	margin: 100px 0 50px;
	display: flex;
	align-items: center;
	padding: 0 30px;
	border-bottom: 2px solid #e8ebed;
}

.project-form input {
	height: 25px;
	margin-right: 50px;
	padding: 5px 10px;
	background: #f6f8f9;
	border: 1px solid #e8ebed;
	font-family: "Roboto", sans-serif;
}

.project-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
.project-form input::-moz-placeholder { /* Firefox 19+ */
	color: #999;
}
.project-form input:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
.project-form input:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

.project-form input:first-child {
	width: 400px
}
.project-form input:nth-child(2) {
	width: 100px;
}

.btn-submit {
	height: 25px;
	width: 150px;
	margin-left: auto;
	font-family: "Roboto", sans-serif;
	cursor: pointer;
  color: #f1f1f1;
  background: #35b6da;
  text-transform: uppercase;

  border-radius: 4px;
  border: solid 0 #e3edf4;
  border-bottom: 2px solid #1b92b3;
  border-radius: 4px;
}


.btn-submit.btn-submit_disable {
	opacity: 0.65;
	cursor: not-allowed;
}
